Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content
/Content/StarterContent
/Plugins/sapient-unreal
/Plugins/sapient-unreal
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
/Content
/Content/StarterContent
Plugins/sapient-unreal/Logs/SapientPrompts_2025-07-01.log
Plugins/sapient-unreal/
