Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content
/Content/StarterContent
/Plugins/sapient-unreal
/Plugins/sapient-unreal
